*.iml
.idea/*
task1_2/.gitignore

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# VSCode (caso use)
.vscode/

# Arquivos de build
build/
target/
bin/

# log da questao 1 e 2
log.txt

# binários da questão 3
task3/bin/
task3/hash.txt
